<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div align="center">
    <h1>Employee List</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Employee FirstName</th>
            <th>Employee LastName</th>
            <th>Employee Email</th>
            <th>Employee dob</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee :${listEmployee}">
            <td th:text="${employee.firstname}"></td>
            <td th:text="${employee.lastname}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.dob}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>