<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Page</title>
</head>
<body>
<div align="center">
    <form th:action="@{/home}" method="post" th:object="${employee}">
        <div>
            <input type="text" th:field="*{firstname}" placeholder="First Name" />
        </div>
        <div>
            <input type="text" th:field="*{lastname}" placeholder="Last Name"/>
        </div>
        <div>
            <input type="text" th:field="*{email}" placeholder="Email"/>
        </div>
        <div>
            <input type="text" th:field="*{dob}" placeholder="Date of Birth" />
        </div>
        <div>
            <button>Add Employee</button>
        </div>
    </form>
    <a th:href="@{/api/employee}">Show Employees</a>
</div>
</body>
</html>